//should've made this as an %extend.

.c-cta{
    &__pre-heading h1{
        font-size: 14px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        color: $secondary-color; //secondary color
    }

    &__pre-heading h2 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0;
        padding:0;
        color:$secondary-color;
    }
  
    &__main-heading h2{
        font-size:32px;
        padding: 0;
        margin-bottom: 1.5rem;
        font-family: $secondary-font;
        color:$primary-color; //Base color
    }

    &__sub-heading h4 {
        font-size:32px;
        padding: 0;
        margin-bottom: 1.5rem;
        font-family: $secondary-font;
        color:$primary-color;
    }
  
    &__text p{
        font-size: 18px;
        padding: 0 25px;
        margin: 0 auto 35px;
        color: $font-color;
    }
  
    &__button{
        margin:0;
        padding:0;
             
        @import "cta-button";
    }  
}