.cta-button {
  display: inline-block;
  padding: 10px 20px 10px;
  border-radius:5px;
  background-color: $primary-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
      
  &:hover {
    background-color: (darken( $primary-color, 15% ));
  }

  &.secondary{
    background-color: $secondary-color;

    &:hover {
      background-color: (darken( $secondary-color, 15% ));
    }
  }
}

.cta-button-group{
  margin: 0 10px;
}