
  footer{
    height: 400px;
    width: 100vw;
    background-color: #181817;
    text-align: center;
  }
  
  @media screen and (max-width: 875px){
    footer{
    height: 250px;
    }
  }

  .canvas-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  #myCanvas {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
  }
