.header-nav {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #F6F5F0;
}

.header-nav__inner {
  position: relative;
  width: 100vw;
  align-items: center;
  display:inline-flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .header-nav--item{
    width: 0!important;
  }
}

.header-nav--item {
  display: inline-flex;
  margin: 0 auto;
  width: 130px;
      
  &__telephone{
    position:relative;
    text-decoration: none;
    color: #AAA371;
    font-weight: 400;
    left: 30px;
      &:before{
        content:'';
        position:absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        width:30px;
        height:30px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29.98 30'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23aaa371; %7D %3C/style%3E%3C/defs%3E%3Cpath id='telephone_2_' data-name='telephone (2)' class='cls-1' d='M24.415,30a18.614,18.614,0,0,1-8.4-2.238,30.868,30.868,0,0,1-7.683-5.67A30.9,30.9,0,0,1,2.669,14.4,18.652,18.652,0,0,1,.435,6c0-1.722,1.6-3.385,2.294-4.02C3.721,1.066,5.281,0,6.415,0a3.413,3.413,0,0,1,2.08,1.161,19.785,19.785,0,0,1,2.075,2.316c.433.557,2.6,3.406,2.6,4.773,0,1.121-1.267,1.9-2.608,2.725a15.16,15.16,0,0,0-1.442.959c-.413.331-.488.506-.5.546A19.843,19.843,0,0,0,17.937,21.8c.032-.01.207-.079.545-.5a15.155,15.155,0,0,0,.959-1.442c.825-1.341,1.6-2.609,2.725-2.609,1.367,0,4.216,2.162,4.773,2.6a19.785,19.785,0,0,1,2.316,2.075A3.413,3.413,0,0,1,30.415,24c0,1.134-1.066,2.7-1.978,3.694C27.8,28.388,26.137,30,24.415,30ZM6.405,1.5a5.637,5.637,0,0,0-2.66,1.583A4.843,4.843,0,0,0,1.935,6c0,10.093,12.4,22.5,22.48,22.5a4.841,4.841,0,0,0,2.916-1.819,5.675,5.675,0,0,0,1.584-2.671c-.049-.285-.837-1.393-3-3.055a11.748,11.748,0,0,0-3.747-2.2c-.027.008-.2.072-.535.5a15.676,15.676,0,0,0-.919,1.389c-.84,1.367-1.634,2.659-2.787,2.659a1.462,1.462,0,0,1-.545-.106A21.259,21.259,0,0,1,7.218,13.029c-.189-.473-.219-1.213.711-2.056A12.953,12.953,0,0,1,9.771,9.7a15.655,15.655,0,0,0,1.389-.919c.432-.34.5-.508.5-.535A11.749,11.749,0,0,0,9.46,4.5C7.8,2.337,6.69,1.549,6.405,1.5Z' transform='translate(-0.435 0)'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size:contain;
      }
  }

  &__logo {
    width:180px;
    height: auto;
    margin: 0 auto;
    background-image: url(/Images/Site_Logo.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
  }
  
  &__email{
    position:relative;
    text-decoration: none;
    color: #AAA371;
    font-weight: 400;
      &:before {
        content:'';
        position:absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        width:30px;
        height:30px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.152 30'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23aaa371; %7D %3C/style%3E%3C/defs%3E%3Cpath id='envelope-open' class='cls-1' d='M31.245,34.083,18.52,26.306a4,4,0,0,0-3.887,0L1.906,34.083A4.3,4.3,0,0,0,0,37.482v15.7A2.62,2.62,0,0,0,2.617,55.8H30.535a2.62,2.62,0,0,0,2.617-2.617v-15.7A4.3,4.3,0,0,0,31.245,34.083ZM2.816,35.572,15.542,27.8a2.285,2.285,0,0,1,2.068,0l12.726,7.777a2.3,2.3,0,0,1,.725.8L17.544,45.385a1.976,1.976,0,0,1-1.936,0L2.091,36.374a2.3,2.3,0,0,1,.725-.8ZM30.535,54.058H2.617a.873.873,0,0,1-.872-.872V38.24l12.9,8.6a3.723,3.723,0,0,0,3.871,0l12.9-8.6V53.186A.873.873,0,0,1,30.535,54.058Z' transform='translate(0 -25.803)'/%3E%3C/svg%3E%0A"); 
        background-position: center center;
        background-repeat: no-repeat;
        background-size:contain; 
      }
  }

  @media screen and (max-width: 720px){

    &__telephone-text {
      display:none;
    }

    &__email-text {
      display:none;
    }

  }
}
  