.c-cta--lead{
  display: block;
  margin: 5rem auto 5rem;
  padding:0;

  &__container{
    margin: 0 auto;
    width:100vw;
    padding:0;
    background:none;
    text-align:center;
  }

  &__inner{
    max-width: 70vw;
    margin: 0 auto;
    padding: 0;
  }
//start breaks at 1000px
  @media screen and (max-width: 999px) {
    &__inner{
      min-width: 80vw;
    }
  }

  @media screen and (max-width: 875px) {
    &__inner{
      min-width: 90vw;
    }
  }

  @media screen and (max-width: 875px) {
    &__inner{
      min-width: 100vw;
    }
  }

@import "c-cta";

  .c-cta{
    &__main-heading{
      font-size: 36px;
    }

    &__text{
      padding:0 100px;
    }

    @media screen and (max-width: 1286px) {
      &__text{  
        padding: 0 50px;
      }
    }

    @media screen and (max-width: 1150px) {
      &__text{  
        padding: 0;
      }
    }

    @media screen and (max-width: 725px) {
      &__text{  
        padding: 0 25px;
      }
    }
  }    
}