.c-cta--userflow {
    margin:0;
    padding: 0;
    margin-bottom: 5rem;

        &__inner{
            display:block;
            width:100vw;
            text-align: center;
        }

        &__tile {
            position: relative;
            display: inline-block;
            margin:0 5px;
            width: 30vw;
            min-width: 250px;
            max-width: 400px;
            min-height: 320px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            text-decoration: none;
            transition: all 0.5s;
            
            &:after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0.2);
                z-index: 1;
            }

            &:hover{
                transform: scale(1.05);
                transition-duration: 0.5s;
            }

            &.first {
                background-image: url(/Images/Bedroom.png);
            }

            &.second {
                background-image: url(/Images/Plate.png);
            }

            &.third {
                background-image: url(/Images/Spa.png);
            }
        }

        @media screen and (max-width: 875px){
            &__tile{
                width: 90vw;
                height: auto;
                min-height: 320px;
                min-width: 380px;
                max-width: none;
            }
        }

        &__tile-heading {
            position: absolute;
            bottom: 45px;
            left: 0;
            right: 0;
            z-index: 2;
        }
        
        @media screen and (max-width: 875px){
            &__tile-heading{
                top: 50%;
                transform: translateY(-50%);
                bottom: initial;
            }
        }
}

@import "c-cta";

.c-cta__main-heading {
    font-family: $secondary-font;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    color:$white;
}