/* Variables used for fixed values */

$primary-font: 'Lato', sans-serif;
$secondary-font: 'PT Serif', serif;
$white: #fefefe;
$font-color: #797979;
$primary-color:#AAA371;
$secondary-color:#A7A7A7;
$tertiary-color: #F6F5F0;