.c-cta--image-text {
  margin:0;
  padding: 0;

  &--right {
      margin-bottom: 5rem; 
  }

  &__container{
      display: flex;
  }

  &__inner{
      display: inline-flex;
      width: 100vw;
      background-color: $tertiary-color;
  }

  &__image {
      display: inline-block;
      width: 50vw;
      height: auto;
      min-width: 500px;
      min-height: 300px;
      max-width: none;
      max-height: 500px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      &.first{
        background-image: url(/Images/Breakfast.png);
      }

      &.second{
        background-image: url(/Images/Bath.png);
      }
  }

  &__text {
      display: inline-block;
      margin: 0 auto;
      padding: 50px 30px 70px;
      width:44vw;
      vertical-align: top;
  }    
}

@media screen and (max-width: 999px){
  .c-cta--image-text{
    &__inner{
      display: flex;
      flex-direction: column;
    }

    &__inner.last{
      display: flex;
      flex-direction: column-reverse;
    }

    &__image{
      display: block;
      width: 100vw;
      margin-bottom: 25px;
    }

    &__text{
      display: block;
      width: 90vw;
      text-align: center;
      padding: 0;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}

//in hindsight should've used %extend
@import "c-cta";

.c-cta{
  &__pre-heading h2{
  font-size: 14px;
  }

  &__sub-heading h4{
  font-size: 36px;
  margin-top: 1rem;
  }

  &__text p{
  padding: 0;
  }
}