@import "variables";
@import "lead-cta";
@import "tile-cta";
@import "c-cta--image-text";
@import "header";
@import "footer";

html, body{
  margin:0;
  padding:0;
  width:100vw;
  height: 100vh;
}

body{
  background:$white;
  padding-top: 100px;
  font-family: $primary_font;
  color: $font-color;
  line-height:1.5;
}
  
.main-content{
  display:block;
  max-width:100vw;
  margin: 0 auto;
}