/* Variables used for fixed values */
.c-cta--lead {
  display: block;
  margin: 5rem auto 5rem;
  padding: 0; }
  .c-cta--lead__container {
    margin: 0 auto;
    width: 100vw;
    padding: 0;
    background: none;
    text-align: center; }
  .c-cta--lead__inner {
    max-width: 70vw;
    margin: 0 auto;
    padding: 0; }
  @media screen and (max-width: 999px) {
    .c-cta--lead__inner {
      min-width: 80vw; } }
  @media screen and (max-width: 875px) {
    .c-cta--lead__inner {
      min-width: 90vw; } }
  @media screen and (max-width: 875px) {
    .c-cta--lead__inner {
      min-width: 100vw; } }
  .c-cta--lead .c-cta__pre-heading h1 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #A7A7A7; }
  .c-cta--lead .c-cta__pre-heading h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #A7A7A7; }
  .c-cta--lead .c-cta__main-heading h2 {
    font-size: 32px;
    padding: 0;
    margin-bottom: 1.5rem;
    font-family: "PT Serif", serif;
    color: #AAA371; }
  .c-cta--lead .c-cta__sub-heading h4 {
    font-size: 32px;
    padding: 0;
    margin-bottom: 1.5rem;
    font-family: "PT Serif", serif;
    color: #AAA371; }
  .c-cta--lead .c-cta__text p {
    font-size: 18px;
    padding: 0 25px;
    margin: 0 auto 35px;
    color: #797979; }
  .c-cta--lead .c-cta__button {
    margin: 0;
    padding: 0; }
    .c-cta--lead .c-cta__button .cta-button {
      display: inline-block;
      padding: 10px 20px 10px;
      border-radius: 5px;
      background-color: #AAA371;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #fefefe; }
      .c-cta--lead .c-cta__button .cta-button:hover {
        background-color: #817b4d; }
      .c-cta--lead .c-cta__button .cta-button.secondary {
        background-color: #A7A7A7; }
        .c-cta--lead .c-cta__button .cta-button.secondary:hover {
          background-color: #818181; }
    .c-cta--lead .c-cta__button .cta-button-group {
      margin: 0 10px; }
  .c-cta--lead .c-cta__main-heading {
    font-size: 36px; }
  .c-cta--lead .c-cta__text {
    padding: 0 100px; }
  @media screen and (max-width: 1286px) {
    .c-cta--lead .c-cta__text {
      padding: 0 50px; } }
  @media screen and (max-width: 1150px) {
    .c-cta--lead .c-cta__text {
      padding: 0; } }
  @media screen and (max-width: 725px) {
    .c-cta--lead .c-cta__text {
      padding: 0 25px; } }

.c-cta--userflow {
  margin: 0;
  padding: 0;
  margin-bottom: 5rem; }
  .c-cta--userflow__inner {
    display: block;
    width: 100vw;
    text-align: center; }
  .c-cta--userflow__tile {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30vw;
    min-width: 250px;
    max-width: 400px;
    min-height: 320px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    transition: all 0.5s; }
    .c-cta--userflow__tile:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .c-cta--userflow__tile:hover {
      transform: scale(1.05);
      transition-duration: 0.5s; }
    .c-cta--userflow__tile.first {
      background-image: url(/Images/Bedroom.png); }
    .c-cta--userflow__tile.second {
      background-image: url(/Images/Plate.png); }
    .c-cta--userflow__tile.third {
      background-image: url(/Images/Spa.png); }
  @media screen and (max-width: 875px) {
    .c-cta--userflow__tile {
      width: 90vw;
      height: auto;
      min-height: 320px;
      min-width: 380px;
      max-width: none; } }
  .c-cta--userflow__tile-heading {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    z-index: 2; }
  @media screen and (max-width: 875px) {
    .c-cta--userflow__tile-heading {
      top: 50%;
      transform: translateY(-50%);
      bottom: initial; } }

.c-cta__pre-heading h1 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #A7A7A7; }

.c-cta__pre-heading h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #A7A7A7; }

.c-cta__main-heading h2 {
  font-size: 32px;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "PT Serif", serif;
  color: #AAA371; }

.c-cta__sub-heading h4 {
  font-size: 32px;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "PT Serif", serif;
  color: #AAA371; }

.c-cta__text p {
  font-size: 18px;
  padding: 0 25px;
  margin: 0 auto 35px;
  color: #797979; }

.c-cta__button {
  margin: 0;
  padding: 0; }
  .c-cta__button .cta-button {
    display: inline-block;
    padding: 10px 20px 10px;
    border-radius: 5px;
    background-color: #AAA371;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fefefe; }
    .c-cta__button .cta-button:hover {
      background-color: #817b4d; }
    .c-cta__button .cta-button.secondary {
      background-color: #A7A7A7; }
      .c-cta__button .cta-button.secondary:hover {
        background-color: #818181; }
  .c-cta__button .cta-button-group {
    margin: 0 10px; }

.c-cta__main-heading {
  font-family: "PT Serif", serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  color: #fefefe; }

.c-cta--image-text {
  margin: 0;
  padding: 0; }
  .c-cta--image-text--right {
    margin-bottom: 5rem; }
  .c-cta--image-text__container {
    display: flex; }
  .c-cta--image-text__inner {
    display: inline-flex;
    width: 100vw;
    background-color: #F6F5F0; }
  .c-cta--image-text__image {
    display: inline-block;
    width: 50vw;
    height: auto;
    min-width: 500px;
    min-height: 300px;
    max-width: none;
    max-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .c-cta--image-text__image.first {
      background-image: url(/Images/Breakfast.png); }
    .c-cta--image-text__image.second {
      background-image: url(/Images/Bath.png); }
  .c-cta--image-text__text {
    display: inline-block;
    margin: 0 auto;
    padding: 50px 30px 70px;
    width: 44vw;
    vertical-align: top; }

@media screen and (max-width: 999px) {
  .c-cta--image-text__inner {
    display: flex;
    flex-direction: column; }
  .c-cta--image-text__inner.last {
    display: flex;
    flex-direction: column-reverse; }
  .c-cta--image-text__image {
    display: block;
    width: 100vw;
    margin-bottom: 25px; }
  .c-cta--image-text__text {
    display: block;
    width: 90vw;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 2rem; } }

.c-cta__pre-heading h1 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #A7A7A7; }

.c-cta__pre-heading h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #A7A7A7; }

.c-cta__main-heading h2 {
  font-size: 32px;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "PT Serif", serif;
  color: #AAA371; }

.c-cta__sub-heading h4 {
  font-size: 32px;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "PT Serif", serif;
  color: #AAA371; }

.c-cta__text p {
  font-size: 18px;
  padding: 0 25px;
  margin: 0 auto 35px;
  color: #797979; }

.c-cta__button {
  margin: 0;
  padding: 0; }
  .c-cta__button .cta-button {
    display: inline-block;
    padding: 10px 20px 10px;
    border-radius: 5px;
    background-color: #AAA371;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fefefe; }
    .c-cta__button .cta-button:hover {
      background-color: #817b4d; }
    .c-cta__button .cta-button.secondary {
      background-color: #A7A7A7; }
      .c-cta__button .cta-button.secondary:hover {
        background-color: #818181; }
  .c-cta__button .cta-button-group {
    margin: 0 10px; }

.c-cta__pre-heading h2 {
  font-size: 14px; }

.c-cta__sub-heading h4 {
  font-size: 36px;
  margin-top: 1rem; }

.c-cta__text p {
  padding: 0; }

.header-nav {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #F6F5F0; }

.header-nav__inner {
  position: relative;
  width: 100vw;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0; }

@media screen and (max-width: 720px) {
  .header-nav--item {
    width: 0 !important; } }

.header-nav--item {
  display: inline-flex;
  margin: 0 auto;
  width: 130px; }
  .header-nav--item__telephone {
    position: relative;
    text-decoration: none;
    color: #AAA371;
    font-weight: 400;
    left: 30px; }
    .header-nav--item__telephone:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29.98 30'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23aaa371; %7D %3C/style%3E%3C/defs%3E%3Cpath id='telephone_2_' data-name='telephone (2)' class='cls-1' d='M24.415,30a18.614,18.614,0,0,1-8.4-2.238,30.868,30.868,0,0,1-7.683-5.67A30.9,30.9,0,0,1,2.669,14.4,18.652,18.652,0,0,1,.435,6c0-1.722,1.6-3.385,2.294-4.02C3.721,1.066,5.281,0,6.415,0a3.413,3.413,0,0,1,2.08,1.161,19.785,19.785,0,0,1,2.075,2.316c.433.557,2.6,3.406,2.6,4.773,0,1.121-1.267,1.9-2.608,2.725a15.16,15.16,0,0,0-1.442.959c-.413.331-.488.506-.5.546A19.843,19.843,0,0,0,17.937,21.8c.032-.01.207-.079.545-.5a15.155,15.155,0,0,0,.959-1.442c.825-1.341,1.6-2.609,2.725-2.609,1.367,0,4.216,2.162,4.773,2.6a19.785,19.785,0,0,1,2.316,2.075A3.413,3.413,0,0,1,30.415,24c0,1.134-1.066,2.7-1.978,3.694C27.8,28.388,26.137,30,24.415,30ZM6.405,1.5a5.637,5.637,0,0,0-2.66,1.583A4.843,4.843,0,0,0,1.935,6c0,10.093,12.4,22.5,22.48,22.5a4.841,4.841,0,0,0,2.916-1.819,5.675,5.675,0,0,0,1.584-2.671c-.049-.285-.837-1.393-3-3.055a11.748,11.748,0,0,0-3.747-2.2c-.027.008-.2.072-.535.5a15.676,15.676,0,0,0-.919,1.389c-.84,1.367-1.634,2.659-2.787,2.659a1.462,1.462,0,0,1-.545-.106A21.259,21.259,0,0,1,7.218,13.029c-.189-.473-.219-1.213.711-2.056A12.953,12.953,0,0,1,9.771,9.7a15.655,15.655,0,0,0,1.389-.919c.432-.34.5-.508.5-.535A11.749,11.749,0,0,0,9.46,4.5C7.8,2.337,6.69,1.549,6.405,1.5Z' transform='translate(-0.435 0)'/%3E%3C/svg%3E%0A");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
  .header-nav--item__logo {
    width: 180px;
    height: auto;
    margin: 0 auto;
    background-image: url(/Images/Site_Logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  .header-nav--item__email {
    position: relative;
    text-decoration: none;
    color: #AAA371;
    font-weight: 400; }
    .header-nav--item__email:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.152 30'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23aaa371; %7D %3C/style%3E%3C/defs%3E%3Cpath id='envelope-open' class='cls-1' d='M31.245,34.083,18.52,26.306a4,4,0,0,0-3.887,0L1.906,34.083A4.3,4.3,0,0,0,0,37.482v15.7A2.62,2.62,0,0,0,2.617,55.8H30.535a2.62,2.62,0,0,0,2.617-2.617v-15.7A4.3,4.3,0,0,0,31.245,34.083ZM2.816,35.572,15.542,27.8a2.285,2.285,0,0,1,2.068,0l12.726,7.777a2.3,2.3,0,0,1,.725.8L17.544,45.385a1.976,1.976,0,0,1-1.936,0L2.091,36.374a2.3,2.3,0,0,1,.725-.8ZM30.535,54.058H2.617a.873.873,0,0,1-.872-.872V38.24l12.9,8.6a3.723,3.723,0,0,0,3.871,0l12.9-8.6V53.186A.873.873,0,0,1,30.535,54.058Z' transform='translate(0 -25.803)'/%3E%3C/svg%3E%0A");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
  @media screen and (max-width: 720px) {
    .header-nav--item__telephone-text {
      display: none; }
    .header-nav--item__email-text {
      display: none; } }

footer {
  height: 400px;
  width: 100vw;
  background-color: #181817;
  text-align: center; }

@media screen and (max-width: 875px) {
  footer {
    height: 250px; } }

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%; }

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

body {
  background: #fefefe;
  padding-top: 100px;
  font-family: "Lato", sans-serif;
  color: #797979;
  line-height: 1.5; }

.main-content {
  display: block;
  max-width: 100vw;
  margin: 0 auto; }
